li {
    list-style-type: none;
    display: inline-block;
}


.bg-dark-2 {
    background-color: #2C3E50;
}

.bg-green-light {
background-color: #1ABC;
}



.max-250 {
    max-width: 250px;
}

.line {
    height: 3px;
    background-color: white;
    width: 30%;
    max-width: 250px;
}
.font-15 {
    font-size: 15px;
}

.align-between{
    justify-content: space-around;
}

footer .circle {
    border-radius: 50%;
    border: 1px solid white;
    cursor:pointer;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}